/********** about **************/

.about .heading {
    margin-top: 30px;
}

.about-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 2rem;
    gap: 2rem;
    align-items: center;
    padding-left: 150px;
    padding-right: 150px;
}

.about-container .about-img img {
    width: 100%;
}

.about-text span {
    color: #ff5800;
}

.about-text p {
    margin: .7rem 0 1.4rem;
    font-size: 15px;
    color: #130f40;
}

.about-text h1 {
    font-size: 22px;
    color: #130f40;
}