<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-compalitable" content="IE=edge">
    <meta name="veiwport" content="width=device-width , initial-scale=1.0">
    <title>Coth | Men T-shirt </title>
    <!------------------ font link ------------------------->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/mentdetail.css">
</head>

<body>

    <!--------------- header section  ---------------->
    <header class="header">
        <a href="/Landing page/main.html" class="logo"><i class="fa-sharp fa-solid fa-shirt"></i>محل لبس</a>
        <nav class="navbar">
            <a href="/Landing page/main.html">Home</a>
            <a class="cat" href="#Products">Categories</a>

            <a href="#Features">Features</a>

            <a href="/Reviews and Bogs and About/about.html">About</a>
            <a href="/Reviews and Bogs and About/reviews.html">Reviews</a>
            <a href="/Reviews and Bogs and About/blog.html">Blogs</a>

        </nav>

        <div class="icons">
            <div class="fas fa-bars" id="menu-btn"></div>
            <div class="fas fa-search" id="search-btn"></div>
            <div class="fas fa-shopping-cart" id="cart-btn"></div>
            <div class="fas fa-user" id="login-btn"></div>
        </div>

        <form action="" class="search-form">
            <input type="search" id="search-box" placeholder="search here...">
            <label for="search-box" class="fas fa-search"></label>
        </form>

        <div class="shopping-cart">
            <div class="box">
                <i class="fas fa-trash"></i>
                <img src="/photos/1.png" alt="">
                <div class="content">
                    <h3>Orange t-shirt</h3>
                    <span class="price">$10.99/-</span>
                    <span class="quantity">qty : 1</span>
                </div>
            </div>

            <div class="box">
                <i class="fas fa-trash"></i>
                <img src="/photos/5.jpg" alt="">
                <div class="content">
                    <h3>yellow shoses</h3>
                    <span class="price">$14.99/-</span>
                    <span class="quantity">qty : 1</span>
                </div>
            </div>

            <div class="box">
                <i class="fas fa-trash"></i>
                <img src="/photos/3.jpg" alt="">
                <div class="content">
                    <h3> Black Jacket</h3>
                    <span class="price">$20.99/-</span>
                    <span class="quantity">qty : 1</span>
                </div>
            </div>
            <div class="total">total : 46.97/-</div>
            <a class="btn" href="#">checkout</a>
        </div>
        <form action="" class="login-form">
            <h3>login form</h3>
            <input type="email" placeholder="Your Email" class="box">
            <input type="password" placeholder="Your Password" class="box">
            <p>forget your password<a href="#">click here</a></p>
            <input type="submit" value="login now" class="btn">
        </form>
    </header>

    <!-- pruduct -->

    <div class="small-container single-product">
        <h1 class="heading">Men's <span>  T-shirts</span></h1>
        <div class="row">
            <div class="col-2">
                <img src="/photos/orange 1.webp" width="100%" id="product-img">
                <div class="small-img-row">
                    <div class="small-img-col">
                        <img src="/photos/orange3.webp" class="small-img">
                    </div>
                    <div class="small-img-col">
                        <img src="/photos/orang2.webp" width="100%" class="small-img">
                    </div>
                    <div class="small-img-col">
                        <img src="/photos/orang3.webp" width="100%" class="small-img">
                    </div>

                </div>


            </div>
            <div class="col-2">
                <p>Men | T-shirt</p>
                <h1>Orange T-shirt</h1>
                <h4>$49.99</h4>
                <select>
                    <option>select size</option>
                    <option>xl</option>
                    <option>xxl</option>
                    <option>small</option>
                    <option>large</option>
                    <option>medium</option>

                </select>
                <input type="number" value="1">
                <a href="/Payment and Cart/cart.html" class="btn">add to cart</a>
                <h3>product details<i class="fa fa-indent"></i></h3>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cumque fuga nam maiores dolorem commodi, error aliquam tenetur suscipit quo ipsa minima similique harum reiciendis sequi quae modi alias tempora officia.</p>
            </div>

        </div>
    </div>

    <!-------------------------------- footer ----------------------->
    <section class="footer">
        <div class="box-container">
            <div class="box">
                <h3>cloth<i class="fa-sharp fa-solid fa-shirt"></i></h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum, recusandae!</p>
                <div class="share">
                    <a href="#" class="fab fa-facebook-f"></a>
                    <a href="#" class="fab fa-twitter"></a>
                    <a href="#" class="fab fa-instagram"></a>
                    <a href="#" class="fab fa-linkedin"></a>
                </div>
            </div>

            <div class="box">
                <h3>contact info</h3>
                <a href="#" class="links"><i class="fas fa-phone"></i>+123-456-789</a>
                <a href="#" class="links"><i class="fas fa-phone"></i>+111-222-333</a>
                <a href="#" class="links"><i class="fas fa-envelope"></i>ahmedemad@gmail.com</a>
                <a href="#" class="links"><i class="fas fa-map-marker-alt"></i>cairo,egypt-40114</a>
            </div>

            <div class="box">
                <h3>quick links</h3>
                <a href="/Landing page/main.html" class="links"><i class="fas fa-arrow-right"></i>home</a>
                <a href="/Men/men.html" class="links"><i class="fas fa-arrow-right"></i>men</a>
                <a href="/women/women.html" class="links"><i class="fas fa-arrow-right"></i>women</a>
                <a href="/ckildren/child.html" class="links"><i class="fas fa-arrow-right"></i>children</a>
                <a href="/Reviews and Bogs and About/reviews.html" class="links"><i class="fas fa-arrow-right"></i>Reviews</a>
                <a href="/Reviews and Bogs and About/blog.html" class="links"><i class="fas fa-arrow-right"></i>blogs</a>

            </div>

            <div class="box">
                <h3>newsletter</h3>
                <p>subscribe for lasted updates</p>
                <input type="email" class="email" placeholder="your email">
                <input type="submit" class="btn" value="supscribe">
                <img src="/photos/payment.png" class="payment-img">


            </div>
        </div>
        <div class="credit">created by<span> CLOCLUB </span> | all rights reserved</div>
    </section>




















    <!-------------- java script file link  --------------------->
    <script src="/Landing page/main.js"></script>
    <script src="product.js"></script>
</body>

</html>